<template>
  <div>
    <el-button @click.prevent="handleOpen">Click to add new favorite item</el-button>

    <el-dialog
      title="Favorite Thing"
      :visible.sync="centerDialogVisible"
      width="30%"
      center
      :before-close="handleClose"
    >
      <!-- Category Add Popup -->
      <el-dialog width="20%" title="Add New Category" :visible.sync="innerVisible" append-to-body>
        <el-form>
          <el-form-item required label="Category name">
            <el-input required size="mini" maxlength="255" v-model="newCategory"></el-input>
            <el-button type="primary" @click="saveCategory">Save</el-button>
          </el-form-item>
        </el-form>
      </el-dialog>

      <el-form ref="form" :model="thingForm" label-width="120px" size="mini">
        <el-form-item required label="Title">
          <el-input required maxlength="255" v-model="thingForm.title"></el-input>
        </el-form-item>
        <el-form-item label="Description">
          <el-input minlength="10" v-model="thingForm.description"></el-input>
        </el-form-item>
        <el-form-item required label="Ranking">
          <el-input required type="number" v-model="thingForm.ranking"></el-input>
        </el-form-item>
        <el-form-item required label="Category">
          <el-select
            required
            v-model="thingForm.category"
            filterable
            placeholder="select a category"
          >
            <el-option
              v-for="(category, index) in categories"
              :key="index"
              :label="category.name"
              :value="category.name"
            ></el-option>
          </el-select>
          <el-button @click="innerVisible = true" type="primary">Add New Category</el-button>
        </el-form-item>
        <el-form-item
          v-for="(metadata, index) in metadatas"
          :label="index + ' - ' + metadata.field"
          :key="index"
          :prop="'metadatas.' + index + '.value'"
          :rules="{
              required: true, message: 'metadata can not be null', trigger: 'blur'
              }"
        >
          <el-input
            v-model="metadata.value"
            :placeholder="' Enter ' + metadata.field"
            :type="metadata.field"
          ></el-input>
          <el-button @click.prevent="removeMetadata(metadata)">Delete</el-button>
        </el-form-item>
        <el-form-item>
          <el-button @click="addMetadata('text')" size="mini">New Text metadata</el-button>
          <el-button @click="addMetadata('date')" size="mini">New Date metadata</el-button>
          <el-button @click="addMetadata('number')" size="mini">New Number metadata</el-button>
        </el-form-item>
      </el-form>

      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm()">Save</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      centerDialogVisible: false,
      thingForm: {
        metadata: []
      },
      innerVisible: false,
      newCategory: "",
      categories: [],
      metadatas: []
    };
  },
  computed: {
    action() {
      return this.$store.state.action;
    },
    thingsEndpoint() {
      return `${this.$store.state.apiUrl}/things/`;
    },
    thingCategoriesEndpoint() {
      return `${this.$store.state.apiUrl}/things-category/`;
    }
  },
  methods: {
    addMetadata(field) {
      this.metadatas.push({
        key: new Date(),
        name: "",
        field: field
      });
    },
    removeMetadata(item) {
      var index = this.metadatas.indexOf(item);
      if (index !== -1) {
        this.metadatas.splice(index, 1);
      }
    },
    saveCategory() {
      axios
        .post(this.thingCategoriesEndpoint, {
          name: this.newCategory
        })
        .then(function(response) {})
        .catch(function(error) {});
      this.innerVisible = false;
      this.newCategory = "";
      alert("Saved new category!");
    },
    submitForm() {
      let payload = {
        title: this.thingForm.title,
        description: this.thingForm.description,
        category: {
          name: ""
        },
        ranking: this.thingForm.ranking,
        metadata: this.metadatas
      };
      if (this.action == "edit") {
        payload.category.name = this.thingForm.category.name;
        axios
          .put(`${this.thingsEndpoint}${this.thingForm.id}/`, payload)
          .then(response => {
            // console.log(response);
          })
          .catch(error => {
            // console.log(error.message);
          });
        alert("Favorite thing updated!");
        this.$store.commit("updateAction", "");
      } else {
        payload.category.name = this.thingForm.category;
        axios
          .post(this.thingsEndpoint, payload)
          .then(function(response) {
            // console.log(response)
          })
          .catch(function(error) {});
        alert("Favorite thing created!");
      }
      this.$store.commit("updateShowForm", false);
      this.getFavoriteThings();
    },
    handleOpen() {
      this.$store.commit("updateCurrentThing", {});
      this.metadatas = [];
      this.$store.commit("updateShowForm", !this.centerDialogVisible);
    },
    handleClose() {
      this.$store.commit("updateShowForm", false);
    },
    getThingsCategories() {
      axios
        .get(this.thingCategoriesEndpoint)
        .then(response => {
          this.$store.commit("updateThingCategories", response.data);
        })
        .catch(error => {
          // console.log(error.message);
        });
    },
    getFavoriteThings() {
      axios
        .get(this.thingsEndpoint)
        .then(response => {
          this.$store.commit("updateFavoriteThings", response.data);
        })
        .catch(error => {
          // console.log(error.message);
        });
    }
  },
  mounted() {
    this.getThingsCategories();
  },
  watch: {
    "$store.state.showForm"() {
      this.centerDialogVisible = this.$store.state.showForm;
    },
    "$store.state.currentThing"() {
      this.thingForm = this.$store.state.currentThing;
      this.metadatas = this.thingForm.metadata;
    },
    "$store.state.thingCategories"() {
      this.categories = this.$store.state.thingCategories;
    }
  }
};
</script>