<template>
  <el-table
    :data="tableData.filter(data => !search || data.title.toLowerCase().includes(search.toLowerCase()))"
    style="width: 100%"
  >
    <el-table-column type="expand">
      <template slot-scope="props">
        <p>Title: {{ props.row.title }}</p>
        <p>Description: {{ props.row.description }}</p>
        <p>Ranking: {{ props.row.ranking }}</p>
        <p>Metadata: {{ formatMetadata(props.row.metadata) }}</p>
        <p>Category: {{ props.row.category.name }}</p>
        <p>Created Date: {{ new Date(props.row.created_date).toLocaleString() }}</p>
        <p>Modified Date: {{ new Date(props.row.modified_date).toLocaleString() }}</p>
        <el-button @click.prevent="logVisible = true">Show Log</el-button>
        <el-dialog title="Audit Log" :visible.sync="logVisible" width="30%" center>
          <pre> {{ formatAuditLog(props.row.audit_log) }} </pre>
        </el-dialog>
      </template>
    </el-table-column>
    <el-table-column label="Title" prop="title"></el-table-column>
    <el-table-column label="Category" prop="category.name" sortable></el-table-column>
    <el-table-column align="right">
      <template slot="header" slot-scope="scope">
        <el-input v-model="search" size="mini" placeholder="Search by title" />
      </template>
      <template slot-scope="scope">
        <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
        <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
export default {
  data() {
    return {
      tableData: [],
      search: "",
      logVisible: false
    };
  },
  computed: {
    thingsEndpoint() {
      return `${this.$store.state.apiUrl}/things/`;
    },
    thingCategoriesEndpoint() {
      return `${this.$store.state.apiUrl}/things-category/`;
    }
  },
  methods: {
    formatMetadata(metadata) {
      if (metadata != null) {
        let response = "";
        metadata.forEach(element => {
          response += `Type: ${element.field} - Value: ${element.value} | `;
        });
        return response;
      }
    },
    formatAuditLog(log) {
      let response = "";
      log.forEach(element => {
        response += `Modified Date: ${element.modified_date}  \nTitle: ${element.title} \nDescription: ${element.description} \nRanking ${element.ranking} \n`;
        response += `Metadata: ${this.formatMetadata(element.metadata)} \n \n`;
      });
      return response;
    },
    handleEdit(index, row) {
      // console.log(index, row);
      this.$store.commit("updateAction", "edit");
      this.$store.commit("updateCurrentThing", row);
      this.$store.commit("updateShowForm", true);
    },
    handleDelete(index, row) {
      // console.log(row.id)
      axios
        .delete(`${this.thingsEndpoint}${row.id}`)
        .then(response => {
          // console.log(response);
        })
        .catch(error => {
          // console.log(error.message);
        });
      alert("Favorite thing deleted!");
    },
    getFavoriteThings() {
      axios
        .get(this.thingsEndpoint)
        .then(response => {
          this.$store.commit("updateFavoriteThings", response.data);
        })
        .catch(error => {
          // console.log(error.message);
        });
    }
  },
  mounted() {
    this.getFavoriteThings();
  },
  watch: {
    "$store.state.allFavoriteThings"() {
      this.tableData = this.$store.state.allFavoriteThings;
    }
  }
};
</script>