<template>
  <div id="app">
    <thing-form> </thing-form>
    <things-table> </things-table>
  </div>
</template>

<script>
import ThingForm from './components/ThingForm.vue'
import ThingsTable from './components/ThingsTable.vue'

export default {
  name: 'app',
  components: {
    ThingForm,
    ThingsTable
  }
}
</script>

<style>

</style>
